@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --darkGreen: rgb(105, 123, 91);
  --lightGreen: rgb(162, 191, 140);
  --darkGrey: rgb(30, 29, 29);
  --offWhite: rgb(247, 245, 241);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --darkGreen: rgb(105, 123, 91);
    --lightGreen: rgb(162, 191, 140);
    --darkGrey: rgb(30, 29, 29);
    --offWhite: rgb(247, 245, 241);
  }
}

body {
  color: var(--darkGrey);
  background: var(--offWhite);
  font-family: Helvetica, Arial, sans-serif;
}

@font-face {
  font-family: "MonumentRegular";
  src: url("../public/fonts/MonumentExtended-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MonumentUltrabold";
  src: url("../public/fonts/MonumentExtended-Ultrabold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

